body {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    
}
.cells {
    background-color: white;
    border: thin solid gray;
}
.red {
    background-color: red;
    border: thin solid gray;
}
#inputs {
    display: flex;
}
#container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex: auto;
}
#board {
    display: grid;
    grid-template-columns: repeat(16, 6.25fr);
    grid-template-rows: repeat(16, 66.25fr);
    /* background-color: rgb(23, 23, 122); */
    height: 500PX;
    width: 500PX;
    align-self: center;
    
}
#fuckers {
    height: 100px;
    width: 100px;
    background-color: green;
}